{% include 'navbar.html' %}
{% load static %}
<head>
    <style>
        .servies {
            background-color: #EFAF4E;
            display: flex;
            flex-wrap: float;
        }
        
    </style>
    
</head>
<body>
<div class="cont-container">
    <img  class="img" src="{% static 'images/10.jpg' %}">

    <div class="container">
        <h1 style="color: #1d62a7; text-align: center;">About<span style="color: #EFAF4E;"> Ojas </span>  Innovative Technologies
        </h1>
            <h4 style="color: #EFAF4E;" class="text-center">Cost Effective IT Services Partner</h4>
              <h4 class="text-center" style="font-size:16px !important;">Ojas is a Cost Effective IT Services Company with 11 years of rich experience in serving its customers with a team of 700+ IT Professionals.  We’re one of the fastest growing companies in India providing Services in Application Dev &amp; Support, Identity Governance, Testing Services, Mobile Dev &amp; Testing, Staff Augmentation and Staffing Services to our customers. </h4>
        <h5 class="sub-hdng text-center">We offer our services from our ODC in Hyderabad, India and cater to US, Canada and Australia.</h5>   
        <!--Ojas was founded in 2011 by a group of entrepreneurs to provide Information Security Solutions at affordable costs and yet help the customers maintaining their IT environment complied to all the Security Policies. Ojas with agility in its DNA, understood the market dynamics and recently started a innovative service to provide resources to Global Customers from its offshore Offices in India.-->
  
              <div class="text-center servies">
                  <a href="application-dev-support.php">
            <div class="col-md-4 "> 
                        <div class="hi-icon-wrap hi-icon-effect wow fadeInDown service animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 300ms; -moz-animation-delay: 300ms; animation-delay: 300ms;">
                            <i class="icon fa fa-desktop"></i>
                            <h2>IT Services</h2>
                            <p style="text-align:center;">Being Cost Effective IT Services Partner, Ojas delivers a Robust and Quality Applications to it’s customers.  How could Ojas deliver at Effective Cost in the times of increasing costs…to know more please explore here. </p>
                        </div>
                    </div>
          </a>
                  <a href="identity-governance.php">
            <div class="col-md-4 servies">
                        <div class="hi-icon-wrap hi-icon-effect wow fadeInDown service animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 600ms; -moz-animation-delay: 600ms; animation-delay: 600ms;">
                            <i class="icon fa fa-users"></i>	
                            <h2>Identity Governance</h2>
                            <p style="text-align:center;">Ojas invested it’s time and energy to create an eco system to support your IdM Development needs.  Whether it’s Consulting Services, Support Or just Resources on Staff Augmentation mode, Ojas can be your partner to help you achieve your objectives.  <!--Explore more here.--></p>
                        </div>
                    </div>
          </a>
                  <a href="#">
            <div class="col-md-4">
                        <div class="hi-icon-wrap hi-icon-effect wow fadeInDown service animated" data-wow-duration="1000ms" data-wow-delay="900ms" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 900ms; -moz-animation-delay: 900ms; animation-delay: 900ms;">
                            <i class="icon fa fa-cloud"></i>
                            <h2>Emerging Technologies</h2>
                            <p style="text-align:center;">We at Ojas continues to invest in the Emerging Technologies to partner with our Customers to make sure they get the right support from us.  Ojas is investing in SAP HANA, MuleSoft AnyPoint and Cloud as a Service to be competitive.  </p>
                        </div>
                    </div>
          </a>
                  <a href="#">
            <div class="col-md-4 mtop100"> 
                        <div class="hi-icon-wrap hi-icon-effect wow fadeInDown service animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 300ms; -moz-animation-delay: 300ms; animation-delay: 300ms;">
                            <i class="icon fa fa-check-square-o"></i>
                            
                            <h2>Testing As a Service</h2>
                            <p style="text-align:center;">Quality is one thing in any Software Application, which can’t be compromised…as a small bug can take a big toll on your business.  Our Quality Team understand the business criticality while working on your Application Testing.   Our strong expertise in Manual and Automation Tools coupled with Domain knowledge add value to our Customer’s business applications.  </p>
                        </div>
                    </div>
          </a>
                  <a href="#">
            <div class="col-md-4 mtop100"> 
                        <div class="hi-icon-wrap hi-icon-effect wow fadeInDown service animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 300ms; -moz-animation-delay: 300ms; animation-delay: 300ms;">
                            <i class="icon glyphicon glyphicon-phone"></i>
                            
                            <h2>Mobile App Development</h2>
                            <p style="text-align:center;">Take Advantage of Mobility for your Business to provide Services on the Go and be competitive in today’s Business World of rapid changes. In this Smart Phone era, Mobility is the only secret for Success. Ojas helps you in creating Mobile Applications in Android, IoS Platforms suiting your business needs with effective cost and scalable solutions. </p>
                        </div>
                    </div>
          </a>
                  <a href="staff-augmentation.php">
            <div class="col-md-4 mtop100"> 
                        <div class="hi-icon-wrap hi-icon-effect wow fadeInDown service animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 300ms; -moz-animation-delay: 300ms; animation-delay: 300ms;">
                            <i class="icon glyphicon glyphicon-user"></i>
                            
                            <h2>Staff Augmentation</h2>
                            <p style="text-align:center; margin-bottom:5px;">Shortage of Skilled Resources? Need Resources in Specific Location?  Joining Worries? Attrition Issues? Short Term Projects?</p>  <p>Ojas can help you solve all these issues and deploy our Skilled IT Resources across India for the duration you ask for….yet Cost Effective.  </p>
                        </div>
                    </div>
          </a>
              </div>
          </div>
         
            
    
</div>

</body>
{% include 'footer.html' %}